<header>
    <div class="header-content">
        <a routerLink="/" class="logo">
            <h1>{{ title }}</h1>
        </a>
        <nav>
            <a routerLink="/">Hackathon</a>
            <a routerLink="/nuovo-hackathon">Crea hackathon</a>
            <a routerLink="/miei-inviti">I miei inviti</a>
            <a routerLink="/crea-team">Crea team</a>
            <ng-container *ngIf="!caricamentoUtente">
        <span *ngIf="utenteCorrente">
          Ciao, <a routerLink="/profilo">{{ utenteCorrente.nickname }}</a>
            <button type="button" (click)="logout()">Logout</button>
        </span>
                <a *ngIf="!utenteCorrente" [href]="loginUrl">Accedi con Google</a>
            </ng-container>
        </nav>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>